.container {
  min-height: 400px;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_bar {
  width: 100%;
  min-height: 100px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.top_left_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: fit-content;
}

.top_left1 {
  font-weight: 600;
  color: #393e46;
  margin-right: 10px;
}

.top_left2 {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 10px;
}

.dashboard_span1 {
  margin-right: 10px;
  cursor: pointer;
}

.dashboard_span2 {
  margin-left: 10px;
  cursor: pointer;
}

.top_right {
  display: flex;
  flex-flow: row nowrap;
  min-width: 25%;
  justify-content: space-between;
}

.dashboard_icon {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.dashboard_button {
  width: 100%;
  height: 45px;
  padding: 10px 0;
  background: #002524;
  outline: none;
  border: none;
  color: white;
  box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.dashboard_button:hover {
  background: #393e46;
  transform: scale(1.02);
}

.dashboard_button:active {
  /* background: white;
        color: #de0984; */
  transform: scale(0.98);
  box-shadow: 0 0px 7px 0 rgba(211, 18, 132, 0.3);
}

.bottom_bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.bottom_left {
  min-height: 275px;
  background: #002524;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* color: #009ba3; */
}

.profile_pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 40px;
}

.dashboard_welcome {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.bottom_center {
  min-height: 275px;
  background: #ffffff;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 10px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.bottom_right {
  min-height: 275px;
  background: #ffffff;
  border-radius: 5px;
  flex-grow: 1;
  margin-left: 10px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
