.login_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100vw;
  margin: 25px 150px;
}

.recent_logins {
  flex-grow: 3;
}

.login_form {
  flex-grow: 1;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.forgotten_account {
  padding: 20px;
  border-bottom: 1px solid #dddfe2;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: #002524;
  font-weight: 500;
}

.create_account {
  margin: 15px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
